.landing-page
    h1.landing-page__title Portfolio 
    p.landing-page__description I'm proud to say that I'm a PROfessional Junior Web Developer!
    a.landing-page__continue(href="/#continue") click to continue reading
